<!DOCTYPE html>
<head>
  <title>Edit & Update Page</title>
</head>
<body>
  <center>
    <h1>Edit & Update Student Data</h1>
    <h2>The Student id is {{crudst.id}}</h2>
    <hr />
    <form method="POST" action="/Update/{{crudst.id}}">
      {% csrf_token %}
      <table border="1">
        <tr>
          <td>Student Name</td>
          <td><input type="text" name="stname" value="{{crudst.stname}}" /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <input type="text" name="stemail" value="{{crudst.stemail}}" />
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            <input type="text" name="staddress" value="{{crudst.staddress}}" />
          </td>
        </tr>
        <tr>
          <td>Cell Phone</td>
          <td>
            <input type="text" name="stmobile" value="{{crudst.stmobile}}" />
          </td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>
            <input type="text" name="stgender" value="{{crudst.stgender}}" />
          </td>
        </tr>
      </table>
      <input type="submit" value="Update Student Record" />
      <a href="{% url 'stdisplay'%}">Home Page</a>
      <hr />
      {% if messages %} {% for result in messages%} {{result}} {% endfor %}
      {%endif%}
    </form>
  </center>
</body>
